tr 
    td #{emp.id}
    td #{emp.name}
    td 
        a.btn.btn-primary.btn-sm(href=`/employees/${emp.id}`) View
    td 
        a.btn.btn-warning.btn-sm(href=`/employees/edit/${emp.id}`) Edit
    td 
        a.btn.btn-danger.btn-sm(href=`/employees/delete/${emp.id}`) Delete